<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-4">
			<form name="signupForm" novalidate>
				
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">#</span>
					<input name="fname" ng-model="SignUpCtrl.user.fname" required ng-minlenght=2 pattern="\w+"
						type="text" class="form-control" placeholder="first name"
						aria-describedby="basic-addon1">
						<p ng-show="signupForm.fname.$invalid && signupForm.fname.$touched" 
						class="help-block">Enter a valid first name.</p>
				</div>

				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">#</span>
					<input name="lname" ng-model="SignUpCtrl.user.lname" required ng-minlenght=2 pattern="\w+"
					type="text" class="form-control" placeholder="last name"
						aria-describedby="basic-addon1">
						<p ng-show="signupForm.lname.$invalid && signupForm.lname.$touched" 
						class="help-block">Enter a valid last name.</p>
				</div>

				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">#</span>
					<input name="email" type="email" ng-model="SignUpCtrl.user.email" required ng-minlenght=2
					class="form-control" placeholder="email"
						aria-describedby="basic-addon1">
					<p ng-show="signupForm.email.$invalid && signupForm.email.$touched" 
					class="help-block">Enter a valid email.</p>
				</div>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">#</span>
					<input name="phone" ng-model="SignUpCtrl.user.phone" required
					pattern="(\d{3})-(\d{3})-(\d{4})"
					type="text" class="form-control" placeholder="phone number ###-###-####"
						aria-describedby="basic-addon1">
					<p ng-show="signupForm.phone.$invalid && signupForm.phone.$touched" 
						class="help-block">Enter a valid phone number.</p>
				</div>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">#</span>
					<input name="menu" ng-model="SignUpCtrl.user.menu" required ng-minlenght=1
					type="text" class="form-control" placeholder="favorite menu number"
						aria-describedby="basic-addon1" ng-change="SignUpCtrl.isValid()">
						{{SignUpCtrl.warn}}
				</div>
				<input type="submit" class="btn btn-default btn-lg" 
				ng-disabled="signupForm.phone.$invalid || signupForm.email.$invalid || 
				signupForm.fname.$invalid || signupForm.lname.$invalid"
				ng-click="SignUpCtrl.submit()">
				{{SignUpCtrl.msg}}
			</form>
		</div>
	</div>
</div>