<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
  <script src="app.js"></script>
<body ng-app="ShoppingListCheckOff">
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ShoppingListController as buyList">
     <h2>To Buy:</h2>
     <ol>
       <li ng-repeat="item in buyList.items">buy {{ item.quantity }} {{ item.name }}
       <button ng-click="buyList.moveItem($index);" class="btn btn-default">Bought</button></li>
     </ol>
     <div ng-show="buyList.items.length==0" class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="BaughtItemsController as bougtList">
     <h2>Already Bought:</h2>
     <ol>
       <li ng-repeat="item in bougtList.items">Bought {{ item.quantity }} {{ item.name }}</li>
     </ol>
     <div class="emptyMessage" ng-hide="bougtList.items.length > 0">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
